@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&display=swap");

body {
  background-color: white;
  overflow-x: hidden;
}

/*all buttons*/
.button {
  background: rgba(211, 52, 31, 1);
  padding-top: 15px;
  padding-bottom: 15px;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  color: white;
}

.button a {
  text-decoration: none;
  color: white;
}

.button a:hover {
  text-decoration: none;
}

/* break img  & breakline & freccette */

#freccetta {
  width: 100vw;
  padding-bottom: 3vh;
  padding-top: 10vh;
  margin: 0;
}

#freccetta img {
  width: 30vw;
}

/*section 1 start*/
#section1incloud {
  width: 100vw;
  height: calc(100vh - 12.31vh);
  top: 12.31vh;
  left: 0;
  background: url(../img/software5.png) no-repeat;
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.72);
  position: absolute;
  z-index: -1;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#section1incloud > * {
    text-align: center;
    color: white;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
}

#section1incloud p:nth-child(1) {
  margin-top: 20vh;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 12px;
}

#section1incloud p:nth-child(2) {
  margin-top: 3vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 36px;
}

#section1incloud p:nth-child(3) {
  margin-top: 3vh;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
}

#section1incloud p:nth-child(4) {
  margin-top: 5vh;
}

@media only screen and (min-width: 768px) {

  #section1incloud p:nth-child(1) {
    font-size: 24px;
    margin-top: 7vh;
  }

  #section1incloud p:nth-child(2) {
    font-size: 64px;
    line-height: 102px;
  }

  #section1incloud p:nth-child(3) {
    font-size: 36px;
    line-height: 54px;
  }

  #section1incloud .button {
    font-size: 24px;
  }

  #freccetta {
    width: 100vw;
    padding-bottom: 3vh;
    padding-top: 7vh;
    margin: 0;
  }
  
  #freccetta img {
    width: 20vw;
  }
}

@media only screen and (min-width: 1250px) {

  #section1incloud > *:not(.button) {
    text-align: left;
  }

  #section1incloud {
    background: url(../img/software5Big.png) no-repeat;
    background-size: cover;
  }

  #section1incloud p:nth-child(1) {
    margin-top: 5%;
    font-size: 24px;
  }

  #section1incloud p:nth-child(2) {
    font-size: 64px;
    width: 80%;
    line-height: 102px;
  }

  #section1incloud p:nth-child(3) {
    font-size: 36px;
    width: 60%;
    line-height: 54px;
  }

  #section1incloud .button {
    font-size: 24px;
    width: 18%;
  }

  #freccetta {
    width: 100vw;
    padding-bottom: 3vh;
    padding-top: 5vh;
    margin: 0;
  } 
  
  #freccetta img {
    width: 13vw;
    position: absolute;
    left: 43.5vw;
    bottom: 15vh;
  }
}

/* section 2 start */

#funzionalita{
  margin-top: 105vh;
  text-align: center;
  font-family: Montserrat;
  font-size: 36px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 5vh;  
}

.container {
  display: block;
  justify-content: center;
  flex-wrap: wrap;
  width: 100vw;
}
.card {
  position: relative;
  background-color: #fff;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width:300px;
  margin-left: calc(50vw - 150px);
  margin-bottom: 30px;
  height: 400px;
}

div .card-header {
  display: flex;
  position: absolute;
  justify-content: center;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  height: 60%;
  background: rgba(29, 29, 27, 1);
}

.card-header img {
  display: flex;
  position: absolute;
  justify-content: center;
  margin-top: 10%;
  width: auto;
  height: 40%;
}

.card-body {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 80%;
  margin-bottom: 10%;
}

.card-header p {
  margin-top: 55%;
  text-align: center;
  color: white;
  padding: 0 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 20px;
}

.card-body p {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  font-family: "Roboto", sans-serif;
}

#container2 {
  margin-top: 2vh;
  margin-bottom: 5vh;
}

@media only screen and (min-width: 1024px) {
  #funzionalita{
  margin-top: 105vh;
  text-align: center;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  margin-bottom: 5vh;  
}

.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.card {
  position: relative;
  margin: 0;
  background-color: #fff;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  width: calc(1000px / 3);
  height: 550px;
  margin-left: calc(100vw/6 - 1000px/6);
  margin-right: calc(100vw/6 - 1000px/6);
}

div .card-header {
  display: flex;
  position: absolute;
  justify-content: center;
  width: 100%;
  height: 60%;
  background: rgba(29, 29, 27, 1);
}

.card-header img {
  display: flex;
  position: absolute;
  justify-content: center;
  margin-top: 10%;
  width: 40%;
  height: 35%;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  margin-top: 95%;
  margin-bottom: 10%;
}

.card-header p {
  margin-top: 60%;
  text-align: center;
  color: white;
  padding: 0 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 32px;
}

.card-body p {
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 28px;
  font-weight: 400;
  text-align: center;
}

#container2 {
  margin-top: 2vh;
  margin-bottom: 5vh;
}
}

@media only screen and (min-width: 1250px) {
.noselected{
  display: block;
}
}

/*section 3 start*/
#section3incloud {
    width: 100vw;
    background: url(../img/software1.png) no-repeat center top;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.72);
    background-size: cover;
    padding-bottom: 3vh;
  }
  
  #section3incloud > * {
    text-align: center;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    color: white;
  }
  
  #section3incloud p:nth-child(1) {
    padding-top: 3vh;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 36px;
  }

  #section3incloud p:nth-child(2) {
    margin-top: 3vh;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
  }

  #section3incloud p:nth-child(3) {
    margin-top: 5vh;
  }
  
  @media only screen and (min-width: 768px) {
  
    #section3incloud {
      padding-top: 5vh;
      padding-bottom: 3vh;
    }
    
    #section3incloud p:nth-child(1) {
      font-size: 64px;
      line-height: 102px;
    }

    #section3incloud p:nth-child(2) {
        font-size: 36px;
        line-height: 54px;
    }

    #section3incloud .button {
        font-size: 24px;
      }
  
  }
  
  @media only screen and (min-width: 1250px) {
  
    #section3incloud {
        padding-top: 5vh;
        padding-bottom: 3vh;
        background: url(../img/software1Big.png) no-repeat center top;
        background-size: cover;
    }
    
    #section3incloud p:nth-child(1) {
      font-size: 64px;
      line-height: 102px;
    }

    #section3incloud p:nth-child(2) {
        font-size: 36px;
        line-height: 54px;
        width: 70%;
        margin-left: 15%;
      }
    
      #section3incloud .button {
        font-size: 24px;
        width: 18%;
        margin-left: 41%;
      }
  }


/*section 4 start*/
#section4incloud {
  width: 100vw;
  background-color: rgba(211, 52, 31, 1);
  padding-bottom: 3vh;
}

#section4incloud > * {
  text-align: center;
  width: 80vw;
  margin-left: 10vw;
  margin-right: 10vw;
  color: white;
}

#section4incloud p:nth-child(1) {
  padding-top: 3vh;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  font-size: 36px;
}

@media only screen and (min-width: 768px) {

  #section4incloud {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }
  
  #section4incloud p:nth-child(1) {
    font-size: 64px;
    line-height: 102px;
  }

}

@media only screen and (min-width: 1250px) {

  #section4incloud {
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: rgba(211, 52, 31, 1);
  }
  
  #section4incloud p:nth-child(1) {
    font-size: 64px;
    line-height: 102px;
  }
}

/* section 5 start */
#section5incloud {
    background-color: #1D1D1B;
    padding: 5vh 10vw;
  }
  
  #section5incloud p:first-child{
    font-family: Montserrat;
    font-weight: 800;
    font-size: 36px;
    color: white;
    margin-bottom: 3vh;
  }
  
  #section5incloud p:nth-child(2) {
    font-family: Roboto;
    font-weight: 400;
    font-size: 18px;
    color: white;
    margin-bottom: 2vh;
  }
  
  #section5incloud p:nth-child(3) {
    font-family: Roboto;
    font-weight: 400;
    font-size: 10px;
    color: white;
    margin-bottom: 1vh;
  }
  
  #form *:not(#submit, #messaggio, #btnprivacy, #privacy) {
    width: 100%;
    margin-bottom: 1.5vh;
    padding: 7px 5px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.56);
  }
  
  #messaggio {
    height: 10vh;
    width: 100%;
    padding: 7px 5px;
    font-family: Roboto;
    font-weight: 400;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.56);
  }
  
  #form div {
    margin: 0 !important;
    padding: 0 !important;
  }
  
  #btnprivacy {
    height: 30px;
    width: 25px !important;
    margin-right: 2vw;
    margin-top: 0.5vh;
    float: left;
  }
  
  #privacy {
    font-family: Roboto;
    font-weight: 400;
    font-size: 13px;
    width: 60% !important;
    color: white !important;
    text-decoration: underline;
    line-height: 15px;
    margin-top: 13px;
  }
  
  #submit {
    margin-top: 5vh;
    width: 100%;
  }
  
  @media only screen and (min-width: 1250px) {
    
    #section5incloud {
      height: 650px;
      padding-left: 5vw;
      padding-right: 5vw !important;
    }
    
    #section5incloud p:first-child{
      font-size: 64px;
      text-align: left;
      width: 80vw;
    }
  
    #section5incloud p:nth-child(2) {
      font-size: 36px;
      text-align: left;
      float: left;
      width: 20%;
      padding-top: 5vh;
    }
  
    #section5incloud p:nth-child(3) {
      font-size: 14px;
      float: right;
      width: 80%;
      text-align: left;
      padding-left: 2vw;
    }
  
    #form {
      float: right;
      width: 80%;
      height: 45%;
      padding-left: 2vw;
    }
  
    #form div {
      width: 55%;
      height: 45%;
    }
  
    #form *:not(#submit, #messaggio, #btnprivacy, #privacy) {
      width: 47.5%;
      height: 55px;
      float: left;
      margin-right: 2.5%;
      font-size: 24px;
      margin-bottom: 10px;
    }
  
    #messaggio {
      width: 52.5% !important;
      margin: 0 !important;
      float: right !important;
      height: 250px;
      font-size: 24px;
      padding: 7px 5px;
    }
  
    #attivita {
      width: 97.5% !important;
    }
  
    #btnprivacy {
      width: 2.3vh !important;
      height: 2.3vh;
      margin-right: 0.5vw !important;
      margin-top: 230px;
    }
  
    #privacy {
      margin-top: 290px;
      font-size: 24px;
    }
  
    #form br {
      display: none;
    }
  
    #section5incloud .button {
      font-size: 24px;
      width: 18%;
      float: right;
      margin-top: -35px;
    }
  }